/* =============================================================================
HOME CAROUSEL
============================================================================= */



.adl1 {
    animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}
.adl2 {
    animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}
.adl3 {
    animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}
.adl4 {
    animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}
.adl5 {
    animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.colorList li {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: orange;
    line-height: 30px;
    padding: 6px;
    width: auto;
    color: #fff;
}
#s0,#s1, #s2, #s3 {
    height: 400px;
}
#s0 {
    background: url("http://lorempixel.com/1600/400") no-repeat;
}
#s1 {
    background: url("http://lorempixel.com/1550/400") no-repeat;
}
#s2 {
    background: url("http://lorempixel.com/1500/400") no-repeat;
}
#s3 {
    background: url("http://lorempixel.com/1450/400") no-repeat;
}
.info {
    background-color: orangered;
    color: #fff;
    padding: 20px;
}
.pad10 {
    padding: 10px;
}
.pad20 {
    padding: 20px;
}
.marginTB40 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.font30 {
    font-size: 30px;
}
.colorG {
    color: #222;
}
.posRel {
    position: relative;
}
.posAb {
    position: absolute;
}
.macbook {
    top: 20px;
}
.ipad {
    top: 100px;
    right: 50px;
}
.iphone5 {
    top: 200px;
    left: 0;
}